@media screen and (max-width: 1600px)
{
    .header_wrap 
    {
        background-position: -250px 0px !important;
    }

    .header_content_bottomline_title h1 
    {
        font-size: 65px;
    }

    .header_content_bottomline_title h1 span 
    {
        font-size: 65px;
    }
}

@media screen and (max-width: 1500px)
{
    .header_wrap 
    {
        background-position: -285px 0px !important;
    }
}

@media screen and (max-width: 1452px)
{
    .header_wrap 
    {
        background-position: -330px 0px !important;
    }
}

@media screen and (max-width: 1400px)
{
    .header_content_bottomline_items
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        position: absolute;
        bottom: 0;
        right: -15px;
        width: 48%;
    }

    .header_content_bottomline_items > div:not(:first-child, :last-child)
    {
        margin-right: 10px;
    }

    .header_wrap 
    {
        background-position: -500px 0px !important;
    }
}

@media screen and (max-width: 1240px)
{
    .header_content_bottomline_items > div
    {
        width: 35% !important;
        display: flex;
        align-items: center;
    }

    .header_content_bottomline_items > div:nth-child(1)
    {
        margin-right: 10px;
    }

    .header_content_bottomline_items > div:nth-child(2)
    {
        margin-bottom: 16px;
        margin-right: 0px;
    }

    .header_content_bottomline_items 
    {
        bottom: 0;
        right: 0px;
        width: 38%;
    }
}

@media screen and (max-width: 1220px)
{
    .header_content_topline_info_number
    {
        margin-right: 50px;
    }

    .header_content_topline_info_WhatsApp
    {
        margin-right: 40px;
    }

    .block_1_content_item > a:not(:last-child)
    {
        margin-right: 40px;
    }

    .block_1_content_item > div
    {
        margin-right: 40px;
    }
}

@media screen and (max-width: 1200px)
{
    .header_content_bottomline_calculation a 
    {
        padding: 20px 63px;
    }

    .header_content_bottomline_title h1
    {
        font-size: 73px;
    }

    .header_content_bottomline_title h1 span
    {
        font-size: 73px;
    }

    .block_1_content_title h2 
    {
        font-size: 73px;
    }

    .block_2_content > div:first-child > a
    {
        padding: 20px 63px;
    }

    .block_2_content > div:first-child div span:last-child
    {
        font-size: 18px;
    }

    .block_2_content > div:last-child 
    {
        width: 40%;
    }
}

@media screen and (max-width: 1150px)
{
    .header_content_bottomline_items 
    {
        display: none;
    }

    .header_wrap 
    {
        background-position: -700px 0px !important;
    }
}

@media screen and (max-width: 1130px)
{
    .header_content_topline_info_number
    {
        margin-right: 15px;
    }

    .header_content_topline_info_WhatsApp
    {
        margin-right: 15px;
    }

    .header_content_topline_info_consultation 
    {
        padding: 20px 25px;
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px)
{
    .block_1_content_item > div a:first-child 
    {
        margin-bottom: 37px;
    }
}

@media screen and (max-width: 1000px)
{
    .block_1_content_item > div a:first-child 
    {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 992px)
{
    .header_content_topline 
    {
        flex-direction: column;
    }

    .header_content_topline_logo
    {
        margin-bottom: 20px;
    }

    .header_content_topline_info
    {
        width: 100%;
        justify-content: space-between;
        padding: 4px 7px 4px 17px;
    }

    .header_content_topline_info a
    {
        margin: 0px;
    }

    .block_2_content
    {
        flex-direction: column;
    }

    .block_2_content > div:last-child 
    {
        width: 65%;
    }

    .block_2_content > div:first-child 
    {
        margin-bottom: 30px;
    }

    .footer_content_topline
    {
        flex-direction: column;
    }

    .footer_content_topline > div:first-child 
    {
        margin-bottom: 20px;
    }

    .footer_content_bottomline
    {
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px)
{
    .header_wrap 
    {
        background-position: -795px 0px !important;
    }

    .block_1_content_item > div a:first-child 
    {
        margin-bottom: 25px;
    }

    .block_1_content_title > span br
    {
        display: block;
    }
}

@media screen and (max-width: 800px)
{
    .header_content_bottomline_title h1
    {
        font-size: 65px;
    }

    .header_content_bottomline_title h1 span
    {
        font-size: 65px;
    }

    .block_1_content_title h2 
    {
        font-size: 65px;
    }
}

@media screen and (max-width: 768px)
{
    .header_desctop
    {
        display: none;
    }

    .header_mobile
    {
        display: block;
    }

    .block_1_content
    {
        display: none;
    }

    .block_1_content_mobile
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block_2_content > div:first-child 
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .block_2_content > div:first-child > a
    {
        margin-bottom: 17px;
    }

    .block_2_content > div:first-child > span 
    {
        display: none;
    }

    .block_2_content > div:first-child > div span:first-child
    {
        display: none;
    }

    .block_2_content > div:last-child span:last-child
    {
        width: 26%;
    }

    .block_2_content > div:first-child > div span:last-child br
    {
        display: none;
    }

    .block_2_content > div:last-child
    {
        width: 100%;
    }

    .block_2_content > div:first-child > a 
    {
        padding: 20px 52px;
    }

    .footer_content
    {
        display: none;
    }

    .footer_content_mobile
    {
        display: block;
    }
}

@media screen and (max-width: 640px)
{
    .header_mobile_content_bottomline_title h1 
    {
        font-size: 50px;
    }

    .block_1_content_title h2 
    {
        font-size: 50px;
    }
}

@media screen and (max-width: 600px)
{
    .block_2_content > div:last-child span:last-child 
    {
        width: 34%;
    }
}

@media screen and (max-width: 550px)
{
    .header_mobile_content_bottomline_city span:first-child 
    {
        margin-right: 15px;
    }

    .header_mobile_content_bottomline_city span:first-child img
    {
        width: 100px;
    }

    .header_mobile_content_bottomline_city span 
    {
        font-size: 25px;
    }

    .header_mobile_content_bottomline_calculate a 
    {
        border-radius: 35px;
        font-size: 25px;
    }

    .header_mobile_content_bottomline_calculate span 
    {
        font-size: 20px;
    }

    .header_mobile_content_bottomline_title h1 {
        font-size: 44px;
    }

    .block_1_content_title h2 
    {
        font-size: 44px;
    }

    .block_1_content_title > span 
    {
        font-size: 26px;
    }

    .block_1 
    {
        margin-top: 24px;
    }

    .block_1
    {
        margin-top: 34px;
    }
}

@media screen and (max-width: 450px)
{
    .header_mobile_content_button_close 
    {
        min-height: 42px;
    }

    .header_mobile_content_button_close svg 
    {
        margin-top: 10px;
    }

    .header_mobile_content_topline_logo a img
    {
        width: 84px;
    }

    .header_mobile_content_button_menu > div span svg
    {
        width: 18px;
    }

    .header_mobile_content_button_menu > div span:last-child
    {
        font-size: 16px;
    }

    .header_mobile_content 
    {
        padding-top: 102px;
    }

    .header_mobile_content_bottomline_title h1 
    {
        font-size: 29px;
    }

    .header_mobile_content_bottomline_title {
        margin-bottom: 20px;
    }

    .header_mobile_content_bottomline_city span:first-child img 
    {
        width: 95px;
    }

    .header_mobile_content_bottomline_city span:first-child 
    {
        margin-right: 10px;
    }

    .header_mobile_content_bottomline_city span 
    {
        font-size: 16px;
    }

    .header_mobile_content_bottomline_list > span 
    {
        font-size: 20px;
    }

    .header_mobile_content_bottomline_list ul li a 
    {
        font-size: 16px;
    }

    .header_mobile_content_bottomline_calculate a 
    {
        border-radius: 41px;
        font-size: 18px;
        margin-bottom: 17px;
    }

    .header_mobile_content_bottomline_calculate span 
    {
        font-size: 16px;
    }

    .block_1_content_title h2 
    {
        font-size: 30px;
    }

    .block_1_content_title span
    {
        font-size: 16px;
    }

    .block_1_content_title {
        margin-bottom: 24px;
    }

    .block_2_content > div:last-child span:last-child {
        width: 46%;
    }

    .block_2_content > div:first-child > a
    {
        font-size: 18px;
    }

    .block_2_content > div:first-child div span:last-child 
    {
        font-size: 16px;
    }

    .block_2_content > div:last-child 
    {
        border-radius: 20px;
        padding: 26px 0px 26px 14px;
    }

    .footer_content_mobile > div:nth-child(1) a img
    {
        width: 100px;
    }

    .footer_content_mobile > div:nth-child(2) span
    {
        font-size: 14px;
    }

    .footer_content_mobile > div:nth-child(3) span
    {
        font-size: 14px;
    }

    .footer_content_mobile > div:nth-child(4) span
    {
        font-size: 14px;
    }

    .footer_content_mobile > div:nth-child(4) ul li
    {
        font-size: 14px;
    }
}

@media screen and (max-width: 340px)
{
    .header_mobile_content_button_menu > div
    {
        padding: 11px 10px;
    }

    .block_2_content > div:last-child span:last-child {
        width: 63%;
    }
}
















